@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
  /* Will-change boosts rendering performance for looping animations */
  will-change: transform; 
}

/* Pauses the scroll when a user hovers over the container */
.group:hover .animate-marquee {
  animation-play-state: paused;
}